<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base</title>
     <style>
        input{
             width: 60%;
            border-radius: 10px;

        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<div style="background-color: #f1aeb5;margin-left: 300px;margin-right: 300px;padding: 2% 3%">
    {% block body %}


    {% endblock %}
</div>
</body>
</html>

git remote add origin https://github.com/shackro/user-authentication.git

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