{% extends 'base.html' %}
{% block body %}

<!doctype html>
<html lang="en">
<head>
    {% load static %}
       <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LogIN</title>
    <style>
                button {
            margin-top: 25px;
        }
                img{
                    margin: 0 3%;
                }
                h2 {
                    text-align: center;
                }
                a{
        margin-left: 100px;
            margin-top: 25px;
        }
    </style>
</head>
<body>

<h2>log in</h2>
<img src="{%  static 'img/login2.png' %}" alt="">
<img src="{%  static 'img/login3.png' %}" alt="">
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <label for="username" class="form-label">Username</label>
    <input type="text" id="user" name="username" class="form-control" required>
    <label for="password" class="form-label">Password</label>
    <input type="password" id="passcode" name="password" class="form-control" required>

    <button type="submit" class="btn btn-dark btn-outline-danger">-LogIN-</button>
    <a href="{% url 'register' %}" class="btn btn-secondary btn-outline-dark">Register</a>

</form>

</body>
</html>
{% endblock %}